/* Landing page styling */
.img-opening-container--home {
  background-image: linear-gradient(
      rgba(255, 192, 120, 0.15),
      rgba(255, 192, 120, 0.15)
    ),
    url(/imgs/Home-Splash.jpg);
}

/* Apps scroll bar styling */

.slider-container--apps {
}

.card-link {
  color: var(--gray);
  text-decoration: none;
  transition: all 0.2s;
}

/* Calorie Calculator styling */

.img-opening-container--cal-cal {
  background-image: url(/imgs/victoria-shes-UC0HZdUitWY-unsplash.jpg);
}

.cal-cal-input-form {
  background-image: url(/imgs/lily-banse--YHSwy6uqvk-unsplash.jpg);
}

.calorie-set {
  align-items: center;
  justify-items: center;
}
